body{
    background-color: rgb(249, 249, 249);
    
    width: 100%;
    
}
::-webkit-scrollbar{
    /* background: linear-gradient(90deg, #f5f2ff78 0%, #e1d7fd 35%, #4200FF  100%);   */
    background:#f5f5f5;
}
::-webkit-scrollbar-thumb{

    background-color:#4200FF ;
}

.menu__header{
display: flex;
justify-content: space-around;
border-bottom: solid rgb(227, 227, 227) 2px;
}

.logout{
    border: solid #4200FF 1px;
}

.logout:hover{
    transition: 0.1s ;
    opacity: 0.7;
}

.header__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.top__container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;
}

.top__container >h3 {
    font-weight: 700;
    font-size: 28px;
}

.create__button-div{
    display: flex;
    align-items: center;
}

.create__button-div:hover{
    opacity: 0.7;
}

body > main > div.top__container > div{
    background-color: #4200FF;
}

body > main > div.top__container > div > button{
    color: white;
    padding: 10px 30px;
    border-radius: 8px;
}

#white__plus{
    width: 20px;
    height: 20px;
    position: relative;
    left: 15px;
}

.bottom__container{
    align-self: center;
    margin-bottom: 30px;
    margin-top: 30px;
}


.usuarios__wrapper{
    display: flex;
    overflow: auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.users__section{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    border-bottom: #4200FF solid 1px;
    align-items:flex-start;
    padding: 10px 25px;
    width: 45%;
    height: 15%;
    justify-content: space-evenly;
}

.users__section:hover{
    opacity: 0.5;
}

.usuarios__ul{
    display: flex;
    gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}

.users__lower-div{
    position: relative;
    left: -14px;
    display: flex;
}
.users__lower-div > .icon{
    padding: 0px 10px;
    margin-right: 10px;
}

.icon{
    cursor: pointer;
    width: 40px;
    height: 20px;
}

.icon:hover{
 opacity: 0.5;
 transition: 0.1s ease;   
}
.modal__tag{

}

dialog::backdrop{
    background-color: rgb(141, 141, 141);
    opacity: 0.9;
}
.delete__button{
    background-color:  #ce4646;
    color: white;
    padding: 10px;
    width: 50%;
    font-weight: 800;   
}
.delete__button:hover, .cancel__delete:hover {
    filter: brightness(110%);
}
.cancel__delete{
    background-color:  #cfcfcf;
    padding: 10px;
    width: 50%;
}

.modal__delete{
}

.modal__wrapper{
    width: 50vw;
    height: 24vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    position: relative;
    gap: 10px;
    justify-content: center;
}

.modal__wrapper> h3{
 align-self: center;
}

.departamentos__container{
    display: flex;
    overflow: auto;
    flex-direction: column;
    height: 80vh;
    flex-wrap: wrap;
}

.departamentos__ul{
    display: flex;
    gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    
}

.department__li{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-bottom: #4200FF solid 1px;
    align-items:flex-start;
    padding: 10px 25px;
    width: 45%;
    gap: 18px;
    height: 24%;
}
.department__li:hover{
    opacity: 0.5;
}

.department__h3{
    font-weight: bolder;
    font-size: larger;
}
.lower__dep-div{
    display: flex;
    gap:20px;
}

.lower__dep-div > img{
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.lower__dep-div > img:hover{
    opacity: 0.5;
}

.criar__departamento-wrapper{
    width: 50vw;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
    justify-content: center;
}

.criar__departamento-wrapper > div{
    display: flex;
    justify-content: center;
}

.criar__departamento-button{
    background-color:  #4200FF;
    color: white;
    padding: 10px;
    width: 50%;
    font-weight: 800;  
    border-radius: 8px;
}

.criar__departamento-button:hover{
    opacity: 0.5;
}

.criar__departamento-cancelButton:hover{
    opacity: 0.7;
}

.buttons__div-createModal{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap:9px
}
.criar__departamento-cancelButton{
    background-color:  #b9b9b9;
    color: white;
    padding: 10px;
    width: 50%;
    font-weight: 800;   
    border-radius: 8px;
    width: 50%;
}

.criar__departamento-title{
    font-weight: 800;
    font-size: 28px;
}

.nome__novo-departamento, .descricao__novo-departamento{
    padding: 14px 20px;
}

.editar__departamento-modal, .delete__dep-modal{
    border-radius: 10px;
}
.editar__modal-wrapper{
    width: 50vw;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;

    align-items: center;
}

.editar__modal-wrapper >h3{
        font-weight: 800;
    font-size: 28px;
}

.editar__nome-input, .editar__descricao-input{
    padding: 14px 20px;
}


.editar__departamento-button{
    background-color:  #4200FF;
    color: white;
    padding: 10px;
    width: 50%;
    font-weight: 800;  
    border-radius: 8px;
}

.cancelar__departamento-button{
    background-color:  #b9b9b9;
    color: white;
    padding: 10px;
    width: 50%;
    font-weight: 800;   
    border-radius: 8px;
    width: 50%;
}

.cancelar__departamento-button:hover, .editar__departamento-button:hover{
    opacity: 0.7;
}

.editar__usuario-modal{
    border-radius:10px;
}
.editarUsuario__modal-wrapper{
    width: 50vw;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
    align-items: center;
    min-width: 340px;
}

.editarUsuario__modal-wrapper > h3{
    font-weight: 800;
    font-size: 28px;
}

#kindOfWork__select, #professionalLevel__select{
    padding: 14px 20px;
    width: 100%;
} 

.editarUsuario__modal-wrapper > button{
    padding: 10px;
    width: 50%;
    font-weight: 800;   
    border-radius: 8px;
    width: 50%;
}

.editarUsuario__modal-wrapper > button:hover{
    opacity: 0.7;
}

.editarUser__button{
    background-color:  #4200FF;
    color: white;
}

.editarUser__cancelButton{
    background-color:  #b9b9b9;
    color: white;
}

#delete__dep-text{
    font-weight: 800;
    font-size: 28px;
    text-align: center;
}

.delete__dep-modal > div{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.delete__dep-button, .delete__dep-cancel{
    padding: 10px;
    width: 50%;
    font-weight: 800;   
    border-radius: 8px;
    width: 50%;
    align-self: center;
}

body > main > dialog.delete__dep-modal > div > button:hover{
    opacity: 0.7;
}

.delete__dep-button{
    background-color:  #4200FF;
    color: white;
}

.delete__dep-cancel{
    background-color:  #b9b9b9;
    color: white;
}

.dados__departamento-modal{
    border-radius: 10px;
}

.dados__departamento-wrapper{
    width: 75vw;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
    align-items: center;
    min-width: 340px;

}

.dados__departamento-middleDiv{
    display: flex;
    gap: 10px;
}

.nome__departamento-modal{
    font-weight: 800;
    font-size: 28px;
}

.contratar__button{
    background-color:  #4200FF;
    color: white;
    padding: 10px;
    width: 50%;
    font-weight: 800;   
    border-radius: 8px;
    width: 50%;
    align-self: center;
}