
body{
   
    width: 100%;
    
}

.header__wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom:rgb(149, 149, 149) 1px solid;
    padding: 10px;
    margin: 0 auto;
    align-items: center;
}

.logo__div{
    width: 50%;
    justify-content: center;
    display: flex;
}

.menu__div{
    display: flex;
    gap:30px;
    margin: 0 auto;
}

#login__button{
    cursor: pointer;
}

#login__button:hover{
    background-color: rgb(242, 242, 242);
    transition: 0.2s ease;
}



#signup__button{
    background-color: #4200FF ;
    color: #FFF;
    cursor: pointer;
}

.main__section{
    display: flex;
    justify-content: center;
}

.companies__container {
    
}

.front__header-container{
    max-width: 420px;
    background-color: #4200FF ;
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.front__header-container > img {
    width: 10%;
    height: 10%;
}

.companies__container{
    max-height: 800px;
    overflow-y: scroll;
}

.companies__inside-container{
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px #4200FF ;
    background-color: rgb(247, 247, 247);
    gap:13px;
}

.companies__inside-container > h3{
    font-weight: 900;
}

.companies__inside-container > h6{
    border: solid 1.5px #4200FF ;
    width:fit-content;
}

.companies__header{
    display: flex;
    justify-content: center;
}

.mobile__menu{
    display: none;
}

@media (max-width: 500px){

body{
    background-color: rgb(255, 255, 255);
}

.header__wrapper{
    justify-content: space-between;
    position: relative;
    z-index: 10;
    background-color: #FFF;
}

.menu__div {
flex-direction: column;
align-items: center;
height: max-content;
position: fixed;
right: 50px;
height: -1%;
width: 20%;
z-index:10;
}

.companies__container {
 margin-top: 12vh;
}
.companies__ul-wrapper{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 30px;
    background-color: #F8F8F8;
    
}

.companies__inside-container{
    
    background-color: white;
    width: 300px;
    min-width: 176px;
    justify-content: space-between
}

.front__header-container{
width: 100%;
}

.div__menu-buttons{
    z-index:-1;
    top:30px;
    position: inherit;
}

.hide{
    position: relative;
    z-index: -1;
    transform: translateX(-330px);
    transition: 0.2s ease-in;
    /* bottom: 100px; */
    left: 350px;
    display: flex;
    /* left: 142px; */
    flex-direction: column;
    
}

.show__menu{
    left: -31px;
}

#login__button{
    z-index: -100;
    position: relative;
}

#signup__button{
    z-index: -100;
    position: relative;
}

.img__container{
    display: none;
}

.front__header-container{
    margin: 0 auto;
}

.mobile__menu{
    display:flex;
    width: 40px;
    height: 40px;
}
    
}