.main__section{
    background-image: url(../assets/register\ \ page\ background.png);
    min-height: 92vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    /* filter:blur(2px) */
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile__menu-icon, .menu__mobile{
    display: none;
}

.form__container{
    background-color: #FFF;
    opacity: .9;
    height: 46vh;
    width: 450px;
    margin: 30px;
}

.form__header{
    display: flex;
    justify-content: flex-start;
    font-weight: 900;
    
}

.header__wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom:rgb(149, 149, 149) 1px solid;
    padding: 10px;
    margin: 0 auto;
    align-items: center;
}

.logo__div{
    width: 50%;
    justify-content: center;
    display: flex;
}

#signup__button{
    background-color: #4200FF ;
    color: #FFF;
    cursor: pointer;
}

#signup__button:hover{
    background-color: rgb(245, 245, 245);
    transition: 0.2s ease;
}


.mobile__menu{
    display: none;
}

#register__form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

#email__input, #senha__input{
    background-color: rgb(247, 247, 247);
    padding: 10px;
}

.buttons__form-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#login__button{
    background-color: #4200FF;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.signup__button-lower{
    border: solid 2px hsl(256, 100%, 50%);
    padding: 5px 0px;
    color: #4200FF;
}

#p__interButton {
    display: flex;
    justify-content: center;
}

#signup__button-upper{
    border: solid 2px hsl(256, 100%, 50%);
    padding: 5px 5px;
    background-color: #4200FF;
    color: #FFF;
}

@media (max-width: 500px){

.mobile__menu-icon{

    display: block;
}
.menu__mobile{
   
   /* transform: translate(0px, 58px); */
   transition: .7s ease;
   position: relative;
   
}
.nav__menu-desktop{
    display: none;
        width: 40px;
    height: 40px;
}
.mobile__menu-icon{
    display: block;
    width: 40px;
    height: 40px;
}

.menu__div {

    height: max-content;
    position: relative;
    width: 100%;
 }
.header__wrapper{
    justify-content: space-between;

}
 .mobile__menu{
  display:flex;
  width: 40px;
  height: 40px;
  }

.menu__mobile, .menu__div {
    display: none;
}

.hide{
    display: flex;
    position: absolute;
    width: 100%;
}

.div__menu-buttons{
    z-index:10;
    
    width: 100%;
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: center;
    padding: 10px;
}

}