.main__section{
    background-image: url(../assets/register\ \ page\ background.png);
    min-height: 92vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    /* filter:blur(2px) */
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__container{
    background-color: #FFF;
    opacity: .9;
    height: 58vh;
    width: 450px;
    margin: 30px;
}

.form__header{
    display: flex;
    justify-content: center;
    font-weight: 900;
    
}

.header__wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom:rgb(149, 149, 149) 1px solid;
    padding: 10px;
    margin: 0 auto;
    align-items: center;
}

.logo__div{
    width: 50%;
    justify-content: center;
    display: flex;
}

#login__button{
    background-color: #4200FF ;
    color: #FFF;
    cursor: pointer;
}

#signup__button:hover{
    background-color: rgb(245, 245, 245);
    transition: 0.2s ease;
}

#signup__button{
    cursor: pointer;
}

.mobile__menu{
    display: none;
}

#register__form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

#name__input, #email__input, #password__input, #select__option{
    background-color: rgb(247, 247, 247);
    padding: 10px;
}

.buttons__form-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#register__button{
    background-color: #4200FF;
    color: #FFF;
    cursor: pointer;
    
}

#p__interButton {
    display: flex;
    justify-content: center;
}

.return__button{
    border: solid 2px hsl(256, 100%, 50%);
    padding: 5px 0px;
    color: #4200FF;
}

.mobile__menu-icon, .menu__mobile{
    display: none;
}

@media (max-width: 500px){

.menu__mobile{
background-color: rgb(236, 236, 236);
position: absolute;
width: 100%;
padding: 10px;
}
.nav__menu-desktop{
    display: none;
}

.mobile__menu-icon{
display: flex;
width: 40px;
height: 40px
}

.menu__div {
    height: max-content;
    position: relative;
    width: 100%;
 }
.header__wrapper{
    justify-content: space-between;

}
 .mobile__menu{
  display:flex;
  width: 40px;
  height: 40px;
  }

.hide{
    display: flex;
    
    
}
.div__menu-buttons{
    display: flex;
    justify-content: center
}

#signup__button{
    background-color: #4200FF;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
#home__button{
    background-color: #f1f1f1;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding-right: 8px;
}

}